.about{
    padding:4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.line{
    width: 200px;
    height: 2px;
    background-color: #cfd2f35d;
}
.heading-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
h2{
    font-size: 1.4rem;
    color: #091057;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
p{
    line-height: 22px;
    color: #091057;
}

.category-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

h3 {
    color: #091057;
    padding-bottom: 1rem;
}

.category-link h3:hover {
    color: #30a5ff;
    cursor: pointer;
}

.category-link h3.active {
    border-bottom: 3px solid #091057;;
    color: #30a5ff;
}

@media only screen and (max-width: 600px){
    .about{
        padding:1.6rem;
    }  
}

@media (min-width: 600px) and (max-width: 1024px){
    .about{
        padding:1.9rem;
    }     
}